{% extends "base.html" %}    
{% block content %}
<h1>Welcome to Goriber Amazon </h1>
<p>Get exciting deals everyday with Goriber Amazon </p> 
<p> <a href="{% url 'logout' %}"> Logout </a> </p>
{% for product in all_products %}
<a href="{% url 'product' product.id %}"> <h2 align="center" >{{ product.name }}</a></h2> 
<p align="center">{{ product.description }}</p>
<p align="center">{{ product.price }}</p>
<p align="center">{{ product.category }}</p>
<p align="center"><img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" height="300"></p> <br><br>
{% endfor %}
{% endblock content %}
